body {
    font-family: 'Nunito Sans', sans-serif;
}

/* ------------------------- Navbar/Footer/Homepage Card css --------------------------------*/
.item p {
    font-size: 22px;
    margin: 0;
}

#item2 {
    padding-left: 400px;
    padding-top: 100px;
    background-image: url("../public/img/homebanner.png");
    height: 330px;
    width: 433px;
}

.cardsContainer {
    display: inline-flex;
    border-radius: 20px;
    font-size: 20px;
    background-color: beige;
    
    /* padding-left: 300px;
    padding-top: 80px;
    padding-right: 50px;
    justify-content: space-evenly;
    align-items: center;
     */
}

.homecard {
    font-size: 20;
}

.logo{
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: -20px;
}

.links{
    height: 100%;
}

.links-nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    height: 100%;
    align-items: center;
}

.links-nav a{
    color: #111;
    text-decoration: none;
    padding-left: 20px;
}

.links-nav a:hover{
    color: #111;
    text-decoration:underline;
    padding-left: 20px;
}

.spaceBetween{
    /* position: fixed; */
    width: 100%;
    top: 0;
    display: flex;
    padding:0 60px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
    z-index: 3;
    background-color: #fff;
    font-weight: bold;
}

.spaceBetween-content{
    display: flex;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
}

.descriptionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descriptionContainer .item{
    padding-left: 10px;
    width: 600px;
}

.footer{
    bottom: 0;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    background-color: #fff;
    box-shadow:0px -3px 5px -5px darkgrey;
    padding-top: 15px;
    margin-left: 5px;
    position: fixed;
}

.rowa{
    width: 100%;
    /* position: relative; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    box-sizing: border-box;
    --bs-gutter-x:0;
}

.flex-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 15px;
  }

.flex-item-card .card-content {
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0;
}

.card-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .card-button:focus {
    outline: none;
  }
  
  .card-button:hover .card-content {
    background-color: #f5f5f5;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    width: 700px; /* Adjust the width as needed */
    height: 700px; /* Adjust the height as needed */
  }
  

.project-title{
    padding: 10px;
    margin-top: auto;
}

.row {
    margin-bottom: 30px; /* Add space between rows */
  }
  
  .col-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Add space between cards */
  }
  
  .col-flex > * {
    flex: 1; /* Distribute available space evenly between cards */
    margin: 0 10px; /* Add space around each card */
  }

.row{
    --bs-gutter-x:0;
}

.drop-content{
    display: none;
}

.drop-down{
    display: none;
}

/*------------------------------------------------------------------------*/

/* ------------------------- map page css --------------------------------*/
.leaflet-container {
    width: 100%;
    height: 420px;
    margin-bottom: 25px;
}
  
.intro {
    margin: 40px 40px 30px 40px;
    text-align: center;
    font-weight: bold;
}
  
.card {
    margin-left: 15px;
    /* margin-bottom: 30px; */
    height: 420px;
    margin-bottom: 25px;
}
  
.detail-list {
    padding: 10px 10px;
}
.img-fuild{
    position: relative;
    width: 100%;
    height: 100%;
}
.img-hovera:hover{
    transform: scale(1.5);
    transition: all .7s;
    cursor: pointer;
    z-index: 3;
}

/*------------------------------------------------------------------------*/

/* ------------------ media query for different viewports ----------------*/
@media (max-width: 767px) { /* layout for viewports equal to or less than 768px */
    .drop-content{
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }
    .drop-down{
        display: block;
        background-color: #fff !important;
        background: url('../public/img/dropdown.png');
        background-size: contain;
    }
    .dropdown-toggle::after {
        content: '' !important;
        vertical-align: 0;
        border-top: 0;
    }
    .links-nav{
        display: none;
    }

    .card { /* map page css*/
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/*------------------------------------------------------------------------*/
/* about Gloria*/

    .Carsoulaaa {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    }
    .f-t-r {
        flex: 1;
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        color: #111;
        position: relative;
    }
    
    .f-t-l {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
    }
    .f-t-l a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .f-t-l-icon{
        position: absolute;
        height: 100px;
        text-align: center;
        width: 100px;
    }
    .flex-item {
        text-align: justify;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px;
        background-color: #fff;
    }
    .flex-item-two{
        margin-bottom: 100px;
    }
    .flex-container-two {
        padding: 0 30px;
        display: flex;
        margin: 40px 0;
    }
    
    .flex-container-two .card {
        display: flex;
        align-items: center;
        transition: all .3s;
    }
    
    .flex-container-two .card img {
        width: 100%;
        object-fit: cover;
        margin: 15px 0 10px;
        display: flex;
    }
    
    .flex-container-two .card p {
        line-height: 40px;
        padding-bottom: 60px;
    }
    .card-btn {
        width: 130px;
        height: 37px;
        background-color: #29A0B1;
        border-radius: 30px;
        position: absolute;
    
        font-size: 17px;
        bottom: 0;
        color: #fff;
        text-align: center;
        line-height: 37px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all .3s ease;
    }
    .card-btn a{
        text-decoration: none;
        color: #fff;
    }
    .card-btn:hover {
        background-color: #FF7F50;
    }
    
    .carda:hover {
        cursor: pointer;
        z-index: 1;
        transition: all .3s;
        transform: scale(1.1);
    }
    /* modal */
    #modal{
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: hidden;
        left: -3px;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
    }
    #layout-modal{
        position: relative;
        width: 50%;
        top: 5%;
        left: 25%;
        border-radius: 10px;
        z-index: 2;
        background-color: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #layout-modal #header{
        position: relative;
        height: 6%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        border-radius: 10px 10px 0 0px;
    }
    #layout-modal #header #x{
        width: 20px;
        height: 20px;
        margin: 10px 10px;
        text-align: center;
        cursor: pointer;
        line-height: 1;
    }
    .modal-btn{
        cursor:pointer;
        border-radius:20px;
        padding: 10px;
    }