
    .item {
		display: inline-block;
		padding-left: 150px;
        padding-top: 80px;
        padding-right: 50px;
		justify-content: space-evenly;
		align-items: center;
        font-size: 40px;
    }

    .item p {
        font-size: 22px;
    }

    #item2 {
        padding-left: 400px;
        padding-top: 100px;
        background-image: url("../public/img/homeimg.png");
        height: 500px;
        width: 582px;

    }

    .cardsContainer {
        display: inline-flex;
        border-radius: 20px;
        font-size: 20px;
        background-color: beige;
        
		/* padding-left: 300px;
        padding-top: 80px;
        padding-right: 50px;
		justify-content: space-evenly;
		align-items: center;
         */
    }

    .homecard {
        font-size: 20;
    }






